---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "My Work";
const myWorkTemplate = {
  sections: [
    {
      title: "Projects",
      subtitle: "This is a collection of projects that I have worked on.",
      content: [
        {
          title: "This website.",
          href: "https://github.com/graffhyrum/pendragon-coding",
          content: 'This website is built using Astro, Tailwind CSS, and Markdown. It is hosted on Netlify.',
        },
        {
          title: "V1 of this Website",
          href: "https://github.com/graffhyrum/pendragon-website",
          content: 'The first version of this website,  built using Rust, Axum, and Askama.',
        },
        {
          title: "Playwright JSON Summary Reporter",
          href: "https://github.com/graffhyrum/playwright-json-summary-reporter",
          content: 'A custom reporter for Playwright that outputs a JSON summary of test results. I contributed to this project by adding a new feature that allows the user to specify a custom output file path.',
        },
        {
          title: "Playwright Project Showcase",
          href: "https://github.com/graffhyrum/playwright-project-demo",
          content: 'A Playwright test project showcase. Most of this code was used in or inspired by my professional work as an SDET. Key features include: custom, composed fixtures, multi-environment support with setup and teardown, and a custom reporter that outputs a JSON summary of test results for use in other integrations.',
        },
        {
          title: "OvationCXM",
          href: "https://www.ovationcxm.com/",
          content: 'A customer experience management platform that helps businesses collect and analyze customer feedback. I contributed to this project by triaging (and sometimes fixing) bugs, and was the primary developer for the automated testing framework.',
        },
      ],
    },
    {
      title: "Gists",
      subtitle: "This is a collection of gists that I have created.",
      content: [
        {
          title: "Typescript - Recursive Partial Type",
          href: "https://gist.github.com/graffhyrum/7f267cea2021ad4246be23ec5f6d4a4e",
          content: '<script src="https://gist.github.com/graffhyrum/7f267cea2021ad4246be23ec5f6d4a4e.js"></script>',
        },
        {
          title: "Typescript - 'One of' Type",
          href: "https://gist.github.com/graffhyrum/d705dc05cf3890303dd9aa1c9598b08d",
          content: '<script src="https://gist.github.com/graffhyrum/d705dc05cf3890303dd9aa1c9598b08d.js"></script>',
        },
        {
          title: "Typescript - Type-safe Entries",
          href: "https://gist.github.com/graffhyrum/1253b24fbe80d5f508544736d83d9532",
          content: '<script src="https://gist.github.com/graffhyrum/1253b24fbe80d5f508544736d83d9532.js"></script>',
        },
        {
          title: "Typescript - Branded Types",
          href: "https://gist.github.com/graffhyrum/bdf39a9e7fe18876fcc1dabf11c92457",
          content: '<script src="https://gist.github.com/graffhyrum/bdf39a9e7fe18876fcc1dabf11c92457.js"></script>',
        },
      ],
    },
  ],
}
---

<BaseLayout pageTitle={pageTitle}>
  {myWorkTemplate.sections.map(section => (
          <section>
              <h2>{section.title}</h2>
              <p class="text-xl">{section.subtitle}</p>
              <ul class="flex flex-wrap max-w-max mr-8" role="list">
                {section.content.map((item) => (
                        <li class="outline outline-2 outline-green-700 w-full max-w-lg m-4 p-2 rounded-lg">
                            <a class="text-xl" target="_blank" href={item.href}>{item.title}</a>
                            <br>
                            <Fragment set:html={item.content} />
                        </li>
                ))}
              </ul>
          </section>
  ))}
</BaseLayout>