---
import { getCollection } from 'astro:content';
import Card from '../components/Card.astro';
import CollectionPageLayout from '../layouts/CollectionPageLayout.astro';

const pageTitle = 'Testimonials';
const allTestimonials = await getCollection('testimonials');
---

<CollectionPageLayout
        pageTitle={pageTitle}
        description="This is a collection of testimonials from people that I have worked with."
>
	{allTestimonials.map(async (testimonial) => {
		const { Content } = await testimonial.render();
		return (
            <Card>
                <article id={testimonial.data.title}>
                    <a href={testimonial.data.href}>
                        <h3>{testimonial.data.title}{testimonial.data.position && testimonial.data.company ? ` | ${testimonial.data.position} @ ${testimonial.data.company}` : ''}</h3>
                    </a>
                    <Content/>
                </article>
            </Card>
		);
	})}
</CollectionPageLayout>
