---
import type {ContentTemplate} from '../types/ContentTemplate';
import Card from './Card.astro';

interface Props {
	containerContent: ContentTemplate;
}

const {containerContent} = Astro.props;
---
{containerContent.sections.map((section)=> {
	const layoutMode = section.layoutMode || 'grid';
	const ulClasses = layoutMode === 'single-column'
		? [
			// Layout
			'flex flex-col items-center',
			// Spacing
			'gap-4',
			// Sizing and positioning
			'max-w-9/10 mx-auto'
		].join(' ')
		: [
			// Layout
			'flex flex-wrap justify-center',
			// Sizing and positioning
			'max-w-9/10 mx-auto'
		].join(' ');
	const cardVariant = layoutMode === 'single-column' ? 'long-form' : 'short-form';

	return (
    <section>
        <h2>{section.title}</h2>
        <p class="text-xl">{section.subtitle}</p>
        <ul class={ulClasses} role="list">
			{section.content.map((thisSection) => (
                    <Card variant={cardVariant}>
                        <h3 class="text-3xl">{thisSection.title}</h3>
                        <ul>
							{thisSection.link.map((link) => (
                                    <li>
                                        <a class="text-xl" target="_blank" href={link.href}>{link.title ?? "Link"}</a>
                                    </li>
							))}
                        </ul>
                        <p class="text-lg" set:html={thisSection.description}></p>
                    </Card>
			))}
        </ul>
    </section>
		);
	})}
