---
import Card from './Card.astro';
import type { ContentTemplate } from '../content/types/ContentTemplate';

interface Props {
	containerContent: ContentTemplate;
}

const { containerContent } = Astro.props;
---
{containerContent.sections.map((section)=> (
<section>
    <h2>{section.title}</h2>
    <p class="text-xl">{section.subtitle}</p>
    <ul class="flex flex-wrap" role="list">
      {section.content.map((thisSection) => (
              <Card>
                  <h3 class="text-3xl">{thisSection.title}</h3>
                  <ul>
                    {thisSection.link.map((link) => (
                            <li>
                                <a class="text-xl" target="_blank" href={link.href}>{link.title ?? "Link"}</a>
                            </li>
                    ))}
                  </ul>
                  <p class="text-lg">{thisSection.description}</p>
              </Card>
      ))}
    </ul>
</section>
  ))}
