---
import type { CollectionEntry } from 'astro:content';
import BlogCard from '../components/BlogCard.astro';
import BaseLayout from './BaseLayout.astro';

interface Props {
	pageTitle: string;
	description: string;
	layoutMode?: 'single-column' | 'grid';
	items: CollectionEntry<'blog'>[];
}

const { pageTitle, description, layoutMode = 'grid', items } = Astro.props;

const ulClasses =
	layoutMode === 'single-column'
		? 'flex flex-col items-center mx-auto'
		: 'flex flex-wrap justify-center';
---
<BaseLayout pageTitle={pageTitle}>
	<h2>{pageTitle}</h2>
	<div class="text-xl">
		<p>{description}</p>
		<ul class={ulClasses} role="list">
			{items.map((item) => (
				<BlogCard entry={item} />
			))}
		</ul>
	</div>
</BaseLayout>
